body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.main-rules{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wardrobe-rules {
    display: block;
    margin-top: -75vh;
}

.receipt:hover + .receipt-help {
    /* display: none; */
}

.receipt-help {
    text-align: center;
    background-color: var(--green);
    float: right;
    margin-top: -320px;
    margin-right: 550px;
    border-radius: 5px;
    padding: 5px 20px;
    transform: rotate(15deg);
}