.button-container {
    width: 200px;
    height: 50px;
    background: linear-gradient(to right, #2E3D28 0%, #181818 0%);
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    transition: .5s ease;
    background-size: 200% 100%; /* Allows background to slide */
    border-radius: 15px;
    border-top: 4px solid  #C79DA5;
    border-bottom: 4px solid  #C79DA5;
    overflow: hidden;
    transition: background-position 0.5s; /* Smooth reset */
    position: relative;
    left: 6em;
    top: 70px;
    display: none;
  }
  
  #holdButton {
    font-family: Rubik;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    outline: none;
    border-radius: 5px;
  }
