.rectangle {
  width: 19rem;
  height: 9rem;
  padding: 3rem 5rem;

  background-color: var(--lighter-pink);
  border-radius: 0.6rem;
  border: 3px solid #000;
  box-shadow: 4px 8px 0px 0px #000;

  cursor: pointer;
  transition: ease-in 100ms;

  /* TYPOGRAPHY */

  color: var(--Blackish, #292929);
  text-align: center;

  /* Button text */
  font-family: Rubik;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.78125rem; 
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.rectangle::after {
  content: "";
  width: 17rem;
  height: 7.5rem;

  border-radius: 0.625rem;
  border: 3px dashed var(--black, #292929);

  position: absolute;
}

/* EFFECTS------> */

.rectangle:hover {
  border-radius: 0.625rem;
  border: 3px solid #000;
  background: #7a525a;
  box-shadow: 0px 0px 0px 0px #000;

  color: var(--white);
}

.rectangle-disabled {
  width: 19rem;
  height: 9rem;
  padding: 3rem 5rem;

  cursor: not-allowed;
  border-radius: 0.6rem;
  border: 3px solid #000;
  background: var(--lighter-gray, #707070);
  box-shadow: 4px 8px 0px 0px #000;

  /* TYPOGRAPHY */

  color: var(--Blackish, #292929);
  text-align: center;

  /* Button text */
  font-family: Rubik;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.78125rem; 
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-disabled::after{
  content: "";
  width: 17rem;
  height: 7.5rem;

  border-radius: 0.625rem;
  border: 3px dashed var(--black, #292929);

  position: absolute;
}


